button {
  margin-bottom: 10;
}

.comment-input {
  border: 1px solid black;
}

.comment-block {
  background-color: black;
  width: 49%;
  color: white;
  padding: 15px;
  margin-bottom: 10px;
}

.comment-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}